In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/workspaces/CH-dataSience/data/data_kaggle.csv")
data.dropna()
data

In [ ]:
#data.dropna?

data["Price"]

In [ ]:
data.loc[10:15,["Location", "Rooms", "Car Parks"]]
display(data)

df.info() muestra información generar como todas las filas y columnas, nulos y tipo de dato 
df.sample(5) 5 filas aleatorios 
df.tail() las 5 ultimas filas 
df.head() las primeras 5 o el numero que coloques dentro del paréntesis
df.isnull().sum() puedes ver la suma de los valores faltantes de cada columna 
df.fillna(0) rellena los datos faltantes por 0
df.dropna() elimina los valores faltantes nan 
df.drop_duplicates() borra los duplicados 
df[‘nombre de la columna’] ir a una columna especifica 
df.iloc[] se utiliza para seleccionar los elementos en base a su ubicación (índice numérico),
df.loc[] es un método que se utiliza para seleccionar los elementos en base a string

In [41]:
data.iloc[10:15,:]

data_copy = data.copy()

data.describe()

          Bathrooms     Car Parks
count  51870.000000  36316.000000
mean       3.073434      2.007848
std        1.631079      1.310427
min        1.000000      1.000000
25%        2.000000      1.000000
50%        2.000000      2.000000
75%        4.000000      2.000000
max       20.000000     30.000000

NUMPY