In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from os import listdir
from os.path import isfile

In [23]:
data = pd.read_csv("/workspaces/CH-dataSience/data/data_kaggle.csv")
#data.dropna()
data

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [ ]:
#data.dropna?

data["Price"]

In [ ]:
data.loc[10:15,["Location", "Rooms", "Car Parks"]]
display(data)

df.info() muestra información generar como todas las filas y columnas, nulos y tipo de dato 
df.sample(5) 5 filas aleatorios 
df.tail() las 5 ultimas filas 
df.head() las primeras 5 o el numero que coloques dentro del paréntesis
df.isnull().sum() puedes ver la suma de los valores faltantes de cada columna 
df.fillna(0) rellena los datos faltantes por 0
df.dropna() elimina los valores faltantes nan 
df.drop_duplicates() borra los duplicados 
df[‘nombre de la columna’] ir a una columna especifica 
df.iloc[] se utiliza para seleccionar los elementos en base a su ubicación (índice numérico),
df.loc[] es un método que se utiliza para seleccionar los elementos en base a string

In [41]:
data.iloc[10:15,:]

data_copy = data.copy()

data.describe()

          Bathrooms     Car Parks
count  51870.000000  36316.000000
mean       3.073434      2.007848
std        1.631079      1.310427
min        1.000000      1.000000
25%        2.000000      1.000000
50%        2.000000      2.000000
75%        4.000000      2.000000
max       20.000000     30.000000

NUMPY

CREACION DE DF

In [5]:
np.array(65)

array(65)

In [8]:
np.arange(1,65).reshape(8,8)

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [33]:
dictx= {"A":[ 1,  2,  3,  4,  5,  6,  7,  8], "B":[ 9, 10, 11, 12, 13, 14, 15, 16]}
df_ajedrez = pd.DataFrame(dictx)
print (df_ajedrez)
df_ajedrez.loc[0:2, ["A", "B"]]
data = pd.read_csv("/workspaces/CH-dataSience/data/data_kaggle.csv")
data.info()
data.shape
data.describe()
print(data.head())

   A   B
0  1   9
1  2  10
2  3  11
3  4  12
4  5  13
5  6  14
6  7  15
7  8  16
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53883 entries, 0 to 53882
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       53883 non-null  object
 1   Price          53635 non-null  object
 2   Rooms          52177 non-null  object
 3   Bathrooms      51870 non-null  float64
 4   Car Parks      36316 non-null  float64
 5   Property Type  53858 non-null  object
 6   Size           52820 non-null  object
 7   Furnishing     46953 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.3+ MB
                          Location         Price Rooms  Bathrooms  Car Parks  \
0               KLCC, Kuala Lumpur  RM 1,250,000   2+1        3.0        2.0
1  Damansara Heights, Kuala Lumpur  RM 6,800,000     6        7.0        NaN
2            Dutamas, Kuala Lumpur  RM 1,030,000     3        4.0        2.0
3             Cheras, Kuala Lumpur           NaN   NaN        NaN        NaN
4        Bukit Jalil, Kuala Lumpur    RM 900,000   4+1        3.0        2.0

          Property Type                      Size        Furnishing
0    Serviced Residence  Built-up : 1,335 sq. ft.   Fully Furnished
1              Bungalow  Land area : 6900 sq. ft.  Partly Furnished
2  Condominium (Corner)  Built-up : 1,875 sq. ft.  Partly Furnished
3                   NaN                       NaN               NaN
4  Condominium (Corner)  Built-up : 1,513 sq. ft.  Partly Furnished

In [35]:
dictx= {"A":[ 1,  2,  3,  4,  5,  6,  7,  8], "B":[ 9, 10, 11, 12, 13, 14, 15, 16]}
df_ajedrez = pd.DataFrame(dictx)
df_ajedrez.T.head()

   0   1   2   3   4   5   6   7
A  1   2   3   4   5   6   7   8
B  9  10  11  12  13  14  15  16

In [38]:
df_ajedrez.reset_index()
df_ajedrez.set_index("A")

    B
A
1   9
2  10
3  11
4  12
5  13
6  14
7  15
8  16

In [47]:
datadir = "/workspaces/CH-dataSience/data"
from os.path import isfile
files = [os.path.join(datadir, x) for x in listdir(datadir) if x.endswith(".csv")]
files

['/workspaces/CH-dataSience/data/data_kaggle.csv',
 '/workspaces/CH-dataSience/data/dataset_phishing.csv',
 '/workspaces/CH-dataSience/data/Base.csv',
 '/workspaces/CH-dataSience/data/application_record.csv']

In [64]:
presidents = pd.read_csv("/workspaces/CH-dataSience/data/presidents.csv")
presidents.set_index("S.No.")
presidents = presidents.drop("Unnamed: 0", axis = 1)
presidents["president"].str.lower()
presidents["president"].str.split()

0           [George, Washington]
1                  [John, Adams]
2            [Thomas, Jefferson]
3               [James, Madison]
4                [James, Monroe]
5          [John, Quincy, Adams]
6              [Andrew, Jackson]
7           [Martin, Van, Buren]
8     [William, Henry, Harrison]
9                  [John, Tyler]
10             [James, K., Polk]
11             [Zachary, Taylor]
12           [Millard, Fillmore]
13            [Franklin, Pierce]
14             [James, Buchanan]
15            [Abraham, Lincoln]
16             [Andrew, Johnson]
17          [Ulysses, S., Grant]
18       [Rutherford, B., Hayes]
19         [James, A., Garfield]
20         [Chester, A., Arthur]
21           [Grover, Cleveland]
22          [Benjamin, Harrison]
23           [Grover, Cleveland]
24           [William, McKinley]
25         [Theodore, Roosevelt]
26       [William, Howard, Taft]
27             [Woodrow, Wilson]
28         [Warren, G., Harding]
29            [Calvin, Coolidge]
30             [Herbert, Hoover]
31     [Franklin, D., Roosevelt]
32           [Harry, S., Truman]
33      [Dwight, D., Eisenhower]
34           [John, F., Kennedy]
35         [Lyndon, B., Johnson]
36              [Richard, Nixon]
37                [Gerald, Ford]
38               [Jimmy, Carter]
39              [Ronald, Reagan]
40        [George, H., W., Bush]
41               [Bill, Clinton]
42            [George, W., Bush]
43               [Barack, Obama]
44               [Donald, Trump]
Name: president, dtype: object

In [69]:
fecha = pd.to_datetime(presidents["start"], dayfirst= True)
fecha
presidents["start"] = fecha
presidents.set_index("start")

,S.No.,end,president,prior,party,vice
start,,,,,,
1789-04-30,1,"March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1797-03-04,2,"March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
1801-03-04,3,"March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
1809-03-04,4,"March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
1817-03-04,5,"March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
1825-03-04,6,"March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
1829-03-04,7,"March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
1837-03-04,8,"March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
1841-03-04,9,"April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
1841-04-04,10,"March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant
1845-03-04,11,"March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
1849-03-04,12,"July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
1850-07-09,13,"March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
1853-03-04,14,"March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
1857-03-04,15,"March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
1861-03-04,16,"April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
1865-04-15,17,"March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
1869-03-04,18,"March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
1877-03-04,19,"March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
1881-03-04,20,"September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
1881-09-19,21,"March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
1885-03-04,22,"March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
1889-03-04,23,"March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
1893-03-04,24,"March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
1897-03-04,25,"September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
1901-09-14,26,"March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
1909-03-04,27,"March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
1913-03-04,28,"March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
1921-03-04,29,"August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
1923-08-02,30,"March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
1929-03-04,31,"March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
1933-03-04,32,"January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
1945-04-12,33,"January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
1953-01-20,34,"January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
1961-01-20,35,"November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
1963-11-22,36,"January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
1969-01-20,37,"August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
1974-08-09,38,"January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
1977-01-20,39,"January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
1981-01-20,40,"January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
1989-01-20,41,"January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
1993-01-20,42,"January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
2001-01-20,43,"January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
2009-01-20,44,NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
2017-01-20,45,--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence