In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from os import listdir
from os.path import isfile

In [23]:
data = pd.read_csv("/workspaces/CH-dataSience/data/data_kaggle.csv")
#data.dropna()
data

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [ ]:
#data.dropna?

data["Price"]

In [ ]:
data.loc[10:15,["Location", "Rooms", "Car Parks"]]
display(data)

df.info() muestra información generar como todas las filas y columnas, nulos y tipo de dato 
df.sample(5) 5 filas aleatorios 
df.tail() las 5 ultimas filas 
df.head() las primeras 5 o el numero que coloques dentro del paréntesis
df.isnull().sum() puedes ver la suma de los valores faltantes de cada columna 
df.fillna(0) rellena los datos faltantes por 0
df.dropna() elimina los valores faltantes nan 
df.drop_duplicates() borra los duplicados 
df[‘nombre de la columna’] ir a una columna especifica 
df.iloc[] se utiliza para seleccionar los elementos en base a su ubicación (índice numérico),
df.loc[] es un método que se utiliza para seleccionar los elementos en base a string

In [41]:
data.iloc[10:15,:]

data_copy = data.copy()

data.describe()

          Bathrooms     Car Parks
count  51870.000000  36316.000000
mean       3.073434      2.007848
std        1.631079      1.310427
min        1.000000      1.000000
25%        2.000000      1.000000
50%        2.000000      2.000000
75%        4.000000      2.000000
max       20.000000     30.000000

NUMPY

CREACION DE DF

In [5]:
np.array(65)

array(65)

In [8]:
np.arange(1,65).reshape(8,8)

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [33]:
dictx= {"A":[ 1,  2,  3,  4,  5,  6,  7,  8], "B":[ 9, 10, 11, 12, 13, 14, 15, 16]}
df_ajedrez = pd.DataFrame(dictx)
print (df_ajedrez)
df_ajedrez.loc[0:2, ["A", "B"]]
data = pd.read_csv("/workspaces/CH-dataSience/data/data_kaggle.csv")
data.info()
data.shape
data.describe()
print(data.head())

   A   B
0  1   9
1  2  10
2  3  11
3  4  12
4  5  13
5  6  14
6  7  15
7  8  16
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53883 entries, 0 to 53882
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       53883 non-null  object
 1   Price          53635 non-null  object
 2   Rooms          52177 non-null  object
 3   Bathrooms      51870 non-null  float64
 4   Car Parks      36316 non-null  float64
 5   Property Type  53858 non-null  object
 6   Size           52820 non-null  object
 7   Furnishing     46953 non-null  object
dtypes: float64(2), object(6)
memory usage: 3.3+ MB
                          Location         Price Rooms  Bathrooms  Car Parks  \
0               KLCC, Kuala Lumpur  RM 1,250,000   2+1        3.0        2.0
1  Damansara Heights, Kuala Lumpur  RM 6,800,000     6        7.0        NaN
2            Dutamas, Kuala Lumpur  RM 1,030,000     3        4.0        2.0
3             Cheras, Kuala Lumpur           NaN   NaN        NaN        NaN
4        Bukit Jalil, Kuala Lumpur    RM 900,000   4+1        3.0        2.0

          Property Type                      Size        Furnishing
0    Serviced Residence  Built-up : 1,335 sq. ft.   Fully Furnished
1              Bungalow  Land area : 6900 sq. ft.  Partly Furnished
2  Condominium (Corner)  Built-up : 1,875 sq. ft.  Partly Furnished
3                   NaN                       NaN               NaN
4  Condominium (Corner)  Built-up : 1,513 sq. ft.  Partly Furnished

In [35]:
dictx= {"A":[ 1,  2,  3,  4,  5,  6,  7,  8], "B":[ 9, 10, 11, 12, 13, 14, 15, 16]}
df_ajedrez = pd.DataFrame(dictx)
df_ajedrez.T.head()

   0   1   2   3   4   5   6   7
A  1   2   3   4   5   6   7   8
B  9  10  11  12  13  14  15  16

In [38]:
df_ajedrez.reset_index()
df_ajedrez.set_index("A")

    B
A
1   9
2  10
3  11
4  12
5  13
6  14
7  15
8  16

In [47]:
datadir = "/workspaces/CH-dataSience/data"
from os.path import isfile
files = [os.path.join(datadir, x) for x in listdir(datadir) if x.endswith(".csv")]
files

['/workspaces/CH-dataSience/data/data_kaggle.csv',
 '/workspaces/CH-dataSience/data/dataset_phishing.csv',
 '/workspaces/CH-dataSience/data/Base.csv',
 '/workspaces/CH-dataSience/data/application_record.csv']

In [12]:
fecha = pd.to_datetime('03/01/2020',dayfirst=True)
fin = pd.to_datetime("10/01/2020", dayfirst= True)
fechas_1 = pd.date_range(start=fecha, periods= 6)
fechas_1

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [13]:
fechas_3 = pd.date_range(start= fecha, periods= 8, freq='M')
fechas_3

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [25]:
presidents = pd.read_csv("/workspaces/CH-dataSience/data/presidents.csv")
presidents.set_index("S.No.")
presidents = presidents.drop("Unnamed: 0", axis = 1)
presidents

,S.No.,start,end,president,prior,party,vice
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant
10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

In [22]:
#fecha = pd.to_datetime(presidents["start"], dayfirst= True)
#fecha2 = pd.to_datetime(presidents["end"], dayfirst = True)
#fecha
#presidents["start"] = fecha
#presidents["end"] = fecha2
#presidents.set_index("start")

In [42]:
inicioFin = presidents[["start","end"]][0:40].copy()
inicioFin["start"] =pd.to_datetime(inicioFin["start"], dayfirst= True)
inicioFin["end"] =pd.to_datetime(inicioFin["end"], dayfirst= True)
inicioFin["delta"] = inicioFin["end"] - inicioFin["start"]
modePr = inicioFin["delta"].mode()[0]
inicioFin["fechaCalculada"] = inicioFin["start"]+modePr
inicioFin

        start        end     delta fechaCalculada
0  1789-04-30 1797-03-04 2865 days     1793-04-30
1  1797-03-04 1801-03-04 1460 days     1801-03-05
2  1801-03-04 1809-03-04 2922 days     1805-03-04
3  1809-03-04 1817-03-04 2922 days     1813-03-04
4  1817-03-04 1825-03-04 2922 days     1821-03-04
5  1825-03-04 1829-03-04 1461 days     1829-03-04
6  1829-03-04 1837-03-04 2922 days     1833-03-04
7  1837-03-04 1841-03-04 1461 days     1841-03-04
8  1841-03-04 1841-04-04   31 days     1845-03-04
9  1841-04-04 1845-03-04 1430 days     1845-04-04
10 1845-03-04 1849-03-04 1461 days     1849-03-04
11 1849-03-04 1850-07-09  492 days     1853-03-04
12 1850-07-09 1853-03-04  969 days     1854-07-09
13 1853-03-04 1857-03-04 1461 days     1857-03-04
14 1857-03-04 1861-03-04 1461 days     1861-03-04
15 1861-03-04 1865-04-15 1503 days     1865-03-04
16 1865-04-15 1869-03-04 1419 days     1869-04-15
17 1869-03-04 1877-03-04 2922 days     1873-03-04
18 1877-03-04 1881-03-04 1461 days     1881-03-04
19 1881-03-04 1881-09-19  199 days     1885-03-04
20 1881-09-19 1885-03-04 1262 days     1885-09-19
21 1885-03-04 1889-03-04 1461 days     1889-03-04
22 1889-03-04 1893-03-04 1461 days     1893-03-04
23 1893-03-04 1897-03-04 1461 days     1897-03-04
24 1897-03-04 1901-09-14 1654 days     1901-03-05
25 1901-09-14 1909-03-04 2728 days     1905-09-14
26 1909-03-04 1913-03-04 1461 days     1913-03-04
27 1913-03-04 1921-03-04 2922 days     1917-03-04
28 1921-03-04 1923-08-02  881 days     1925-03-04
29 1923-08-02 1929-03-04 2041 days     1927-08-02
30 1929-03-04 1933-03-04 1461 days     1933-03-04
31 1933-03-04 1941-01-20 2879 days     1937-03-04
32 1945-04-12 1953-01-20 2840 days     1949-04-12
33 1953-01-20 1961-01-20 2922 days     1957-01-20
34 1961-01-20 1963-11-22 1036 days     1965-01-20
35 1963-11-22 1969-01-20 1886 days     1967-11-22
36 1969-01-20 1974-08-09 2027 days     1973-01-20
37 1974-08-09 1977-01-20  895 days     1978-08-09
38 1977-01-20 1981-01-20 1461 days     1981-01-20
39 1981-01-20 1989-01-20 2922 days     1985-01-20