In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/workspaces/CH-dataSience/data/Base.csv")
df.sample(10)

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
32863,0,0.8,0.148214,13,13,40,0.021613,-0.928816,AC,2298,...,0.0,990.0,0.0,INTERNET,3.678001,linux,1.0,1.0,0.0,7.0
95635,0,0.9,0.361546,56,5,30,0.003658,-0.528550,AB,164,...,0.0,200.0,0.0,INTERNET,12.195792,linux,1.0,1.0,0.0,7.0
231922,0,0.6,0.262839,-1,97,40,0.001936,-1.040152,AC,1064,...,0.0,500.0,0.0,INTERNET,4.352362,other,1.0,1.0,0.0,3.0
214311,0,0.7,0.842241,-1,40,30,0.006793,-0.542009,AC,801,...,1.0,1500.0,0.0,INTERNET,19.628778,windows,1.0,1.0,0.0,3.0
197821,0,0.8,0.770504,-1,252,30,0.648660,51.629274,AA,1801,...,0.0,200.0,0.0,INTERNET,8.501895,other,0.0,1.0,0.0,3.0
171898,0,0.9,0.332605,-1,42,20,0.009784,-0.764488,AB,1537,...,0.0,200.0,0.0,INTERNET,7.706068,linux,0.0,1.0,0.0,3.0
108697,0,0.9,0.410290,-1,35,50,0.006902,-0.283742,AB,1179,...,0.0,1000.0,0.0,INTERNET,11.647023,linux,1.0,1.0,0.0,3.0
181028,0,0.4,0.110551,-1,66,30,3.387234,-1.731203,AC,2333,...,1.0,200.0,0.0,INTERNET,6.646804,linux,0.0,1.0,0.0,3.0
100931,0,0.9,0.719524,50,12,30,0.034298,-1.034593,AB,1748,...,0.0,500.0,0.0,INTERNET,8.883096,linux,0.0,1.0,0.0,3.0
261520,0,0.3,0.929669,-1,246,20,0.018517,-1.287889,AB,3575,...,0.0,200.0,0.0,INTERNET,7.077032,other,1.0,1.0,0.0,2.0

Primera database, FRAUDE
Columnas de interes para analizar y detectar solicitudes de crÃ©dito fraudlentas:
-Columnas que hacen referencia a la victima (edad, income, mese sde antiguedad de la cuenta, limite de crÃ©dito, sistema operativo del que es usuario/a) para analizar cual es la moda de la con respecto a los rasgos buscados por el victimario
-Detalles de solicitud y el crÃ©dito (dias desde el pedido, fuente, minutos de sesion activa, solicitado desde otro pais o no) para identificar patrones frecuentes en las solicitudes fraudulentas
-Credito en si (tipo de pago) para analizar si hay un tipo de pago preferencial elegido para la ciber estafa

In [4]:
df2 = pd.read_csv("/workspaces/CH-dataSience/data/application_record.csv")
df2.sample(10)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
231445,6126399,F,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21968,365243,1,0,1,0,NaN,1.0
74347,5282921,F,N,Y,3,99000.0,Working,Secondary / secondary special,Married,House / apartment,-12961,-182,1,1,0,0,Medicine staff,5.0
283077,6124195,F,N,Y,0,409500.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-14192,-634,1,0,0,1,High skill tech staff,1.0
298868,6189308,M,Y,Y,2,270000.0,State servant,Higher education,Married,House / apartment,-13353,-4923,1,0,0,0,Core staff,4.0
226282,5980867,F,N,Y,0,157500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17688,-884,1,0,0,0,Sales staff,2.0
90249,5355636,M,Y,Y,0,225000.0,Working,Higher education,Married,House / apartment,-12283,-3759,1,1,0,0,Core staff,2.0
13024,5139695,F,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,-15919,-2104,1,0,1,0,NaN,2.0
410030,6772960,M,Y,N,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-12956,-4929,1,0,1,0,Laborers,4.0
390949,6658954,F,N,Y,0,225000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21077,365243,1,0,0,1,NaN,2.0
54728,5169366,M,Y,N,0,112500.0,State servant,Secondary / secondary special,Married,House / apartment,-13427,-2436,1,0,0,0,Managers,2.0

Segunda dataset SCORING CREDITICIO
Columnas de interes para analizar scoring crediticio y grados de riesgo de otorgarun crÃ©dito/aprobar o reprobar una solicitud de crÃ©dito
-ingresos anuales (AMT_INCOME_TOTAL) para analizar la posibilidad del pago del prestamo y naturaleza del ingreso (NAME_INCOME_TYPE) en orden a considerar la estabilidad del ingreso
-estado civil (NAME_FAMILY_STATUS) para considerar si quien solicita el crÃ©dito tiene cargas de familia
-Casa o apartamento (NAME_HOUSING_TYPE) para considerar gastos en los que se incurre en relacion al ingreso